<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://www.mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.pet.home.board.impl.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.pet.home.board.impl.BoardFileDTO" alias="BoardFileDTO"/>
		<typeAlias type="com.pet.home.board.notice.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.pet.home.board.qna.QnaDTO" alias="QnaDTO"/>
		
		<typeAlias type="com.pet.home.chat.chatting.ChattingDTO" alias="ChattingDTO"/>
		<typeAlias type="com.pet.home.chat.room.ChatRoomDTO" alias="ChatRoomDTO"/>
		
		<typeAlias type="com.pet.home.member.GuestDTO" alias="GuestDTO"/>
		<typeAlias type="com.pet.home.member.BizmemDTO" alias="BizmemDTO"/>
		<typeAlias type="com.pet.home.member.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.pet.home.member.RoleDTO" alias="RoleDTO"/>
		<typeAlias type="com.pet.home.member.MemberFileDTO" alias="MemberFileDTO"/>
		<typeAlias type="com.pet.home.member.FollowDTO" alias="FollowDTO"/>

		
		<typeAlias type="com.pet.home.sell.SellItemDTO" alias="SellItemDTO"/>
		<typeAlias type="com.pet.home.sell.file.FileDTO" alias="FileDTO"/>
		<typeAlias type="com.pet.home.sell.file.RvFileDTO" alias="RvFileDTO"/>
		<typeAlias type="com.pet.home.sell.sellcategory.SellCategoryDTO" alias="SellCategoryDTO"/>
		<typeAlias type="com.pet.home.sell.sellcategory.CategoryDTO" alias="CategoryDTO"/>
		
		<typeAlias type="com.pet.home.sell.SellItemDTO" alias="SellItemDTO"/>
		<typeAlias type="com.pet.home.sell.file.SellFileDTO" alias="SellFileDTO"/>
      	<typeAlias type="com.pet.home.sell.sellcategory.SellCategoryDTO" alias="SellCategoryDTO"/>
      	<typeAlias type="com.pet.home.sell.sellcategory.CategoryDTO" alias="CategoryDTO"/>
      	<typeAlias type="com.pet.home.sell.PickDTO" alias="PickDTO"/>
      	<typeAlias type="com.pet.home.sell.ShopCartDTO" alias="ShopCartDTO"/>
      
		<typeAlias type="com.pet.home.util.Pager" alias="Pager"/>
		<typeAlias type="com.pet.home.util.SellPager" alias="SellPager"/>
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="java.lang.String" alias="String"/>
		<typeAlias type="java.util.Map" alias="Map"/>

	</typeAliases>

</configuration>