<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.home.board.event.EventDAO">
	<sql id="search">
		(SELECT E.*, ROWNUM R FROM
		(SELECT EV.*, EF.FILENAME, EF.ORINAME, EF.FILENUM FROM EVENT EV
		LEFT JOIN EVENTFILE EF ON EV.NUM = EF.NUM
		WHERE 
			<choose>
				<when test="kind=='title'">EV.TITLE</when>
				<when test="kind=='writer'">EV.WRITER</when>
				<otherwise>EV.CONTENTS</otherwise>
			</choose>
			LIKE '%'||#{search}||'%' ORDER BY EV.NUM DESC) E)
	</sql>
	
	<select id="getList" parameterType="Pager" resultMap="getDetailResult">
		SELECT * FROM
		<include refid="search"></include>
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	<select id="getCount" parameterType="Pager" resultType="Long">
		SELECT COUNT(ROWNUM) FROM
		<include refid="search"></include>
	</select>
	
	<insert id="setAdd" parameterType="BoardDTO">
		<selectKey keyProperty="num" order="BEFORE" resultType="Long">
			SELECT EVENT_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO EVENT(NUM, TITLE, WRITER, REGDATE, HIT, CONTENTS)
		VALUES(#{num}, #{title}, #{writer}, SYSDATE, 0, #{contents})
	</insert>
	
	<insert id="setFileAdd" parameterType="BoardFileDTO">
		INSERT INTO EVENTFILE(FILENUM, NUM, FILENAME, ORINAME)
		VALUES(EVENTFILE_SEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
	</insert>
	
	<select id="getDetail" parameterType="BoardDTO" resultMap="getDetailResult">
		SELECT E.*, EF.*, CU.*
		FROM EVENT E 
		LEFT JOIN EVENTFILE EF
		ON E.NUM = EF.NUM
		LEFT JOIN COUPON CU
		ON 1 = 1
		WHERE E.NUM = #{num}
	</select>
	
	<resultMap type="EventDTO" id="getDetailResult">
		<id column="NUM" property="num"></id>
		<result column="TITLE" property="title"/>
		<result column="CONTENTS" property="contents"/>
		<result column="WRITER" property="writer"/>
		<result column="REGDATE" property="regDate"/>
		<result column="HIT" property="hit"/>
		
		<association property="couponDTO" javaType="CouponDTO">
			<id column="COUPONNUM" property="couponNum"/>
			<result column="COUPONNAME" property="couponName"/>
			<result column="EXPDATE" property="expDate"/>
			<result column="REGDATE" property="regDate"/>
			<result column="DISCOUNTMETHOD" property="discountMethod"/>
			<result column="DISCOUNTRATE" property="discountRate"/>
			<result column="DISCOUNTPRICE" property="discountPrice"/>
		</association>
		
		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</collection>
	</resultMap>
	
	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE EVENT SET TITLE = #{title}, CONTENTS = #{contents}
		WHERE NUM = #{num}
	</update>
	
	<update id="setUpdateHit" parameterType="BoardDTO">
		UPDATE EVENT SET HIT = HIT + 1 WHERE NUM = #{num}
	</update>
	
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE EVENT WHERE NUM = #{num}
	</delete>
	
	<select id="getFileDetail" parameterType="BoardFileDTO" resultType="BoardFileDTO">
		SELECT * FROM EVENTFILE WHERE FILENUM = #{fileNum}
	</select>
	
	<delete id="setFileDelete">
		DELETE EVENTFILE WHERE FILENUM = #{fileNum}
	</delete>
	
	<!-- 쿠폰 -->
	<insert id="setCouponAdd" parameterType="CouponDTO">
		INSERT INTO USERCOUPON(NUM, COUPONNUM)
		VALUES(#{num}, #{couponNum})
	</insert>
	
	<select id="getCouponDetail" parameterType="CouponDTO" resultType="CouponDTO">
		SELECT * FROM COUPON WHERE COUPONNUM = #{couponNum}
	</select>
	
	<update id="setCouponSave" parameterType="CouponDTO">
		UPDATE USERCOUPON SET USERID = #{userId} WHERE NUM = #{num} AND COUPONNUM = #{couponNum}
	</update>
	
	
	<select id="getListOnMain" resultMap="getDetailResult">
		SELECT *
		FROM EVENT E 
		INNER JOIN EVENTFILE EF
		ON E.NUM = EF.NUM
		INNER JOIN USERCOUPON UC
		ON E.NUM = UC.NUM
		ORDER BY E.NUM DESC
	</select>
</mapper>