<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		 <mapper namespace="com.pet.home.member.MemberDAO">
		 
 <!-- =============LOGIN & JOIN =====================-->
 
 <select id="getLogin" parameterType="MemberDTO" resultMap="getLoginResult">
SELECT M.USERNAME, M.USERID, M.EMAIL, M.PHONE, M.ROLENUM, R.ROLENAME, M.BLOCK
		FROM MEMBER M
    		INNER JOIN
    		ROLE R
    		ON M.ROLENUM = R.ROLENUM
		WHERE M.USERID =#{userId} and M.PASSWORD =#{password}
		ORDER BY R.ROLENUM ASC
</select>

<select id="getKakaoLogin" parameterType="MemberDTO" resultMap="getLoginResult" >
SELECT M.USERNAME, M.USERID, M.ROLENUM
		FROM MEMBER WHERE USERID=#{userId}
</select>

<insert id="setKakao" parameterType="MemberDTO">	 
INSERT INTO member (USERID,ROLENUM,USERNAME)
VALUES (#{userId},#{roleNum},#{userName})
</insert>

<select id="getIdCount" parameterType="MemberDTO" resultType="Integer">
        SELECT COUNT(USERID) FROM MEMBER WHERE USERID=#{userId}
</select>

<select id="getKakaoFileCount" parameterType="MemberDTO" resultType="Integer">
        SELECT COUNT(USERID) FROM MEMFILE WHERE USERID=#{userId}
</select>

<insert id="setJoin" parameterType="MemberDTO">	 
INSERT INTO member (USERID,ROLENUM,USERNAME,PASSWORD,EMAIL,PHONE,ADDRESS,BLOCK,AGMAIL,AGVALUE,AGMES,DEADDRESS,ITEMZIPCODE)
VALUES (#{userId},#{roleNum},#{userName},#{password},#{email},#{phone},#{address},0,#{agMail},#{agValue},#{agMes},#{deAddress},#{itemZipCode})
</insert>

<insert id="setAddFile" parameterType="MemberFileDTO">
INSERT INTO MEMFILE (FILENUM,FILENAME,ORINAME,USERID)
VALUES (file_seq.NEXTVAL,#{fileName},#{oriName},#{userId})
</insert>

<insert id="setGuest" parameterType="MemberDTO">	 
INSERT INTO GUEST (GUESTID,USERID,ROLENUM,PETCATG,PETNAME)
VALUES (#{guestId},#{userId},#{roleNum},#{petCatg},#{petName})
</insert>

<!-- =============My Page =====================-->

<select id="getGuestPage" parameterType="MemberDTO" resultMap="myPageResult">
    SELECT M.USERID, M.PASSWORD, M.ROLENUM, R.ROLENAME, M.USERNAME, M.EMAIL, M.PHONE, M.ADDRESS, M.DEADDRESS, M.ITEMZIPCODE,M.BLOCK, M.AGMAIL, M.AGVALUE, M.AGMES, G.PETCATG, G.PETNAME, MF.FILENAME, MF.ORINAME
      FROM MEMBER M
      LEFT JOIN
      GUEST G
      ON M.USERID = G.USERID
      LEFT JOIN 
      ROLE R
      ON M.ROLENUM =R.ROLENUM
      LEFT JOIN
           MEMFILE MF
      ON M.USERID = MF.USERID
WHERE M.USERID=#{userId}
</select>
        
<select id="getMyPage" parameterType="MemberDTO" resultMap="myPageResult">
SELECT M.USERID, M.PASSWORD, M.ROLENUM, R.ROLENAME, M.USERNAME, M.EMAIL, M.PHONE, M.ADDRESS,M.DEADDRESS, M.ITEMZIPCODE, M.BLOCK, M.AGMAIL, M.AGVALUE, M.AGMES
      FROM MEMBER M
      INNER JOIN
       ROLE R
      ON M.ROLENUM =R.ROLENUM
WHERE M.USERID=#{userId}
</select>

<select id="getItemCount" resultType="Integer">
        SELECT COUNT(ITEMNUM) FROM SELLITEM
</select>

<select id="getMemCount" resultType="Integer">
        SELECT COUNT(USERID) FROM MEMBER
</select>

<select id="getMemList" resultMap="myPageResult">
SELECT M.USERID, M.ROLENUM, R.ROLENAME, M.USERNAME, M.EMAIL, M.BLOCK, MF.FILENAME
      FROM MEMBER M
      INNER JOIN
       ROLE R
      ON M.ROLENUM =R.ROLENUM
       LEFT JOIN
           MEMFILE MF
      ON M.USERID = MF.USERID
</select>

<!-- ========= 관리자 페이지 멤버 검색 ======== -->
<select id="getFindMem" parameterType="MemberDTO" resultMap="myPageResult">
      SELECT MR. *, MF.FILENAME
      FROM
      (SELECT M.USERID, M.ROLENUM, R.ROLENAME, M.USERNAME, M.EMAIL, M.BLOCK
      FROM MEMBER M
      INNER JOIN
       ROLE R
      ON M.ROLENUM =R.ROLENUM
      where M.rolenum=#{roleNum}) MR
        LEFT JOIN
      MEMFILE MF
      ON MR.USERID = MF.USERID
      where MR.USERID LIKE '%'||#{search}||'%'  
</select>



<!-- =============FOLLOW =====================-->

<select id="getFolloweeList" parameterType="MemberDTO" resultMap="getFollowList">
SELECT F.FOLLOWEE, MF.FILENAME
from FOLLOW F
LEFT JOIN
MEMFILE MF
ON (F.FOLLOWEE = MF.USERID)
WHERE FOLLOWER =#{userId}
</select>

<select id="getFollowerList" parameterType="MemberDTO" resultMap="getFollowList">
SELECT F.FOLLOWER, MF.FILENAME
from FOLLOW F
LEFT JOIN
MEMFILE MF
ON (F.FOLLOWER = MF.USERID)
WHERE FOLLOWEE =#{userId}
</select>

<select id="getFollowerCount" parameterType="MemberDTO" resultType="Integer">
SELECT COUNT(DISTINCT FOLLOWER) FROM FOLLOW WHERE FOLLOWEE=#{userId}
</select>

<select id="getFolloweeCount" parameterType="MemberDTO" resultType="Integer">
SELECT COUNT(DISTINCT FOLLOWEE) FROM FOLLOW WHERE FOLLOWER=#{userId}
</select>

<insert id="setFollow" parameterType="FollowDTO">	 
INSERT INTO FOLLOW (FOLLOWNUM, FOLLOWER, FOLLOWEE)
VALUES(FOL_SEQ.NEXTVAL,#{follower},#{followee})
</insert>

<delete id="setFollowerDelete" parameterType="MemberDTO">
DELETE FROM FOLLOW WHERE FOLLOWEE=#{userId} AND FOLLOWER=#{follower}
</delete>

<delete id="setFolloweeDelete" parameterType="MemberDTO">
DELETE FROM FOLLOW WHERE FOLLOWEE=#{followee} AND FOLLOWER=#{userId}
</delete>

<!-- ==============coupon=================== -->

<select id="getCouponList" parameterType="MemberDTO" resultType="CouponDTO">
SELECT C.*, UC.*
FROM COUPON C
LEFT JOIN USERCOUPON UC ON C.COUPONNUM = UC.COUPONNUM
WHERE UC.USERID = #{userId}
</select>

<!--================= Update & Delete============== -->

<update id="setBlock" parameterType="MemberDTO" >
 UPDATE MEMBER SET BLOCK=1 WHERE USERID=#{userId}
</update>

<update id="setUnBlock" parameterType="MemberDTO" >
 UPDATE MEMBER SET BLOCK=0 WHERE USERID=#{userId}
</update>

<delete id="setMemDelete" parameterType="MemberDTO">
DELETE FROM MEMBER WHERE USERID=#{userId}
</delete>

<update id="setMemUpdate" parameterType="MemberDTO" >
UPDATE member SET PASSWORD=#{password}, USERNAME=#{userName}, EMAIL=#{email}, PHONE=#{phone}, ADDRESS=#{address},DEADDRESS=#{deAddress}, ITEMZIPCODE=#{itemZipCode}, AGMES=#{agMes} where USERID=#{userId}
</update>

<update id="setGuestUpdate" parameterType="MemberDTO" >
UPDATE Guest SET PETCATG=#{petCatg}, PETNAME=#{petName} where USERID=#{userId}
</update>

<update id="setFileUpdate" parameterType="MemberFileDTO" >
UPDATE MEMFILE SET FILENAME=#{fileName}, ORINAME=#{oriName} where USERID=#{userId}
</update>

<delete id="setPickDelete" parameterType="PickDTO">
DELETE FROM PICK WHERE ITEMNUM=#{itemNum} AND USERID=#{userId}
</delete>

<delete id="setCartDelete" parameterType="ShopCartDTO">
DELETE FROM SHOPCART WHERE ITEMNUM=#{itemNum} AND USERID=#{userId}
</delete>
	
<!-- 비밀번호 찾기 -->
	<select id="getFindLogin" parameterType="MemberDTO" resultType="MemberDTO">
	SELECT USERID,PASSWORD, EMAIL FROM MEMBER WHERE USERID=#{userId} AND EMAIL=#{email}
	</select>


	<update id="setUpdatePw" parameterType="MemberDTO">	 
 	UPDATE MEMBER SET PASSWORD=#{password}
	WHERE USERID=#{userId}
	</update>
	
<select id="getPickList" parameterType="MemberDTO" resultMap="getPickListResult">
SELECT M.USERID,P.PICKNUM,SI.ITEMNUM,SI.ITEMNAME,SI.ITEMPRICE,SI.ITEMCONTENTS,SF.FILENAME
FROM MEMBER M
     INNER JOIN
     PICK P
     ON M.USERID = P.USERID
     INNER JOIN
     SELLITEM SI
     ON P.ITEMNUM = SI.ITEMNUM
     INNER JOIN
     SELLFILE SF
     ON SI.ITEMNUM = SF.ITEMNUM
WHERE M.USERID =#{userId} ORDER BY P.PICKNUM DESC
</select>

<select id="getShopCartList" parameterType="MemberDTO" resultMap="getShopCartListResult">
SELECT M.USERID,S.SHOPNUM,S.TOTALPRICE,SI.ITEMNUM,SI.ITEMNAME,SI.USERID AS BIZID,SI.ITEMPRICE,SI.ITEMCONTENTS,SF.FILENAME,S.REVSTARTDAY,S.REVENDDAY,S.ADULTSNUM,S.DOGNUM
FROM MEMBER M
     INNER JOIN
     SHOPCART S
     ON M.USERID = S.USERID
     INNER JOIN
     SELLITEM SI
     ON S.ITEMNUM = SI.ITEMNUM
     INNER JOIN
     SELLFILE SF
     ON SI.ITEMNUM = SF.ITEMNUM
WHERE M.USERID =#{userId} ORDER BY S.SHOPNUM DESC
</select>

<select id="getTotalPrice" parameterType="MemberDTO" resultType="MemberDTO">
SELECT SUM(S.TOTALPRICE) AS TOTALPRICE
FROM MEMBER M
     INNER JOIN
     SHOPCART S
     ON M.USERID = S.USERID
WHERE M.USERID = #{userId}
</select>
		
	<resultMap type="MemberDTO" id="getLoginResult">
		<id column="USERID" property="userId" />
		<result column="USERNAME" property="userName" />
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email"/>
		<result column="ROLENUM" property="roleNum" />
		<result column="BLOCK" property="block"/>
		<collection property="roleDTO" javaType="RoleDTO" ofType="RoleDTO">
			<result column="ROLENAME" property="roleName" />
		</collection>
	</resultMap>
	
<!--  FOLLOW LIST -->
<resultMap type="MemberDTO" id="getFollowList">
	<id column="USERID" property="userId"></id>
	
	<association property="memberFileDTO" javaType="MemberFileDTO">
      <result column="FILENAME" property="fileName"/>
      </association>
	
	<collection property="followDTOs" javaType="List" ofType="FollowDTO">
	 <result column="FOLLOWER" property="follower"/>
	 <result column="FOLLOWEE" property="followee"/>
	 	</collection>
      
	</resultMap>
	
	<resultMap type="MemberDTO" id="getPickListResult">
	<id column="USERID" property="userId"/>
	<collection property="itemDTOs" javaType="List" ofType="SellItemDTO">
		<id column="ITEMNUM" property="itemNum"/>
		<result column="ITEMNAME" property="itemName"/>
		<result column="ITEMPRICE" property="itemPrice"/>
		<result column="ITEMCONTENTS" property="itemContents"/>

		<collection property="fileDTOs" javaType="List" ofType="SellFileDTO">
			<result column="FILENAME" property="fileName"/>
		</collection>
	</collection>
	
</resultMap>
	
	<resultMap type="MemberDTO" id="getShopCartListResult">
	<id column="USERID" property="userId"/>
	<collection property="itemDTOs" javaType="List" ofType="SellItemDTO">
		<id column="ITEMNUM" property="itemNum"/>
		<result column="BIZID" property="userId"/>
		<result column="ITEMNAME" property="itemName"/>
		<result column="ITEMPRICE" property="itemPrice"/>
		<result column="ITEMCONTENTS" property="itemContents"/>
		<collection property="shopCartDTOs" javaType="List" ofType="ShopCartDTO">
		<id column="SHOPNUM" property="shopNum"></id>
		<result column="TOTALPRICE" property="totalPrice"/>
		<result column="REVSTARTDAY" property="revStartDay"/>
		<result column="REVENDDAY" property="revEndDay"/>
		<result column="ADULTSNUM" property="adultsNum"/>
		<result column="DOGNUM" property="dogNum"/>
		</collection>
		<collection property="fileDTOs" javaType="List" ofType="SellFileDTO">
			<result column="FILENAME" property="fileName"/>
		</collection>
	</collection>
</resultMap>

	<resultMap type="ReservationDTO" id="getRevResult">
		<id column="ITEMNUM" property="itemNum"/>
		<result column="USERID" property="userId"/>
		<result column="REVSTARTDATE" property="revStartDate"/>
		<result column="REVENDDATE" property="revEndDate"/>
		<result column="MEMBERCOUNT" property="memberCount"/>
		<result column="REVPAYWAY" property="revPayway"/>
		<result column="ITEMCATG" property="itemCatg"/>
			<association property="sellItemDTO" javaType="SellItemDTO">
				<result column="ITEMNAME" property="itemName"></result>   
	 		</association>
			<collection property="fileDTOs" javaType="List" ofType="sellFileDTO">
				<result column="FILENAME" property="fileName"/>
			</collection>
	</resultMap>
	
		
<!-- Guest My page Result Map -->
	 <resultMap type="MemberDTO" id="myPageResult">
      <id column="USERID" property="userId"/>
      <result column="ROLENUM" property="roleNum"/>
       <result column="PASSWORD" property="password"/>
      <result column="USERNAME" property="userName"/>
      <result column="EMAIL" property="email"/>
      <result column="PHONE" property="phone"/>
      <result column="ADDRESS" property="address"/>
      <result column="BLOCK" property="block"/>
      <result column="AGMES" property="agMes"/>
      <result column="AGVALUE" property="agValue"/>
      <result column="AGMAIL" property="agMail"/>
      <result column="PETCATG" property="petCatg"/>
      <result column="PETNAME" property="petName"/>
      <result column="DEADDRESS" property="deAddress"/>
      <result column="ITEMZIPCODE" property="itemZipCode"/>
                              
      <association property="memberFileDTO" javaType="MemberFileDTO">
      <result column="FILENAME" property="fileName"/>
      <result column="ORINAME" property="oriName"/>
      </association>
      
	  <association property="roleDTO" javaType="RoleDTO">
      <result column="ROLENAME" property="roleName"/>
      </association>
      
   </resultMap>
   
	
	
	
</mapper>