<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.home.board.notice.NoticeDAO">
	<sql id="search">
		(SELECT ROWNUM R, N.* FROM
		(SELECT * FROM NOTICE 
			WHERE
				<choose>
					<when test="kind == 'title'">TITLE</when>
					<when test="kind == 'writer'">WRITER</when>
					<otherwise>CONTENTS</otherwise>
				</choose>
			LIKE '%'||#{search}||'%'
		 ORDER BY NUM DESC) N)
	</sql>
	
	
	<select id="getList" parameterType="Pager" resultType="NoticeDTO">
		SELECT * FROM
		<include refid="search"></include>
		WHERE R BETWEEN #{startRow} and #{lastRow}
	</select>
	
	<select id="getCount" parameterType="Pager" resultType="Long">
		SELECT COUNT(ROWNUM) FROM 
		<include refid="search"></include>
	</select>
	
	<insert id="setAdd" parameterType="BoardDTO">
		INSERT INTO NOTICE(NUM, TITLE, WRITER, REGDATE, HIT, CONTENTS)
		VALUES(NOTICE_SEQ.NEXTVAL, #{title}, #{writer}, SYSDATE, 0, #{contents})
	</insert>
	
	<select id="getDetail" parameterType="BoardDTO" resultType="BoardDTO">
		SELECT * FROM NOTICE WHERE NUM = #{num}
	</select>
	
	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE NOTICE SET TITLE = #{title}, CONTENTS = #{contents}
		WHERE NUM = #{num}
	</update>
	
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE NOTICE WHERE NUM = #{num}
	</delete>
</mapper>