<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.home.sell.SellItemDAO">
	
	<sql id="search">
		(SELECT ROWNUM R, SITEM.* FROM 
			(SELECT SII.* 
			FROM 
				(SELECT SI.ITEMNUM, SI.ITEMPRICE, SI.ITEMNAME, SI.ITEMCATG, SI.ITEMADDRESS, SF.FILENAME
					FROM SELLITEM SI
					INNER JOIN
					SELLFILE SF
					ON SI.ITEMNUM = SF.ITEMNUM
					WHERE SI.ITEMCATG= #{itemCatg}					
					ORDER BY SI.ITEMNUM DESC,SF.PHOTONUM ASC) SII 
			WHERE SII.ITEMNAME LIKE '%'||#{search}||'%' 
		ORDER BY SII.ITEMNUM DESC) SITEM)
	</sql>
	
	<!-- 지도 매핑용 -->
	<select id="getAllItemList" resultType="SellItemDTO">
		SELECT * FROM SELLITEM
	</select>
	<!-- !!!!!!! -->
	
	
	<insert id="setItemAdd" parameterType="SellItemDTO">
		<selectKey keyProperty="itemNum" order="BEFORE" resultType="Long">
		 			SELECT SELLITEM_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO SELLITEM 
		VALUES 
		(#{itemNum}, #{userId}, #{itemName}, #{itemPrice}, #{itemContents}, #{itemZipCode}, #{itemAddress}, #{itemDeAddress}, #{itemCatg})
	</insert>
	
	<insert id="setCategory" parameterType="SellCategoryDTO">
		INSERT INTO SELLCATEGORY VALUES (SELLITEM_SEQ.NEXTVAL, #{itemNum}, #{categoryNum})
	</insert>
	
	<select id="getCategory" parameterType="Long" resultType="CategoryDTO">
			SELECT CATEGORYNAME
				FROM CATEGORY
			WHERE CATEGORYNUM = #{itemCatg}
	</select>
	
	<select id="getSellFileDTO" parameterType="SellFileDTO" resultType="SellFileDTO">
		SELECT * FROM SELLFILE WHERE PHOTONUM=#{photoNum}
	</select>
	
	<insert id="setAddSellFile" parameterType="SellFileDTO">
		INSERT INTO SELLFILE 
		(PHOTONUM, ITEMNUM, ORINAME, FILENAME)
		VALUES (SELLFILE_SEQ.NEXTVAL, #{itemNum}, #{oriName}, #{fileName})
	</insert>
	
	<select id="getItemList" parameterType="SellPager" resultMap="getItemResult">
		SELECT * FROM
			<include refid="search"></include>
		WHERE R BETWEEN #{startRow} and #{lastRow}
	</select>
	
	<select id="getItemCount" parameterType="SellPager" resultType="Long">
		SELECT COUNT(ROWNUM) FROM
			<include refid="search"></include>	
	</select>
	
	<select id="getDetailOne" parameterType="SellItemDTO" resultMap="getItemResult">
		SELECT SI.*, FILENAME, ORINAME, PHOTONUM
			FROM SELLITEM SI
			LEFT JOIN
			SELLFILE SF 
			ON SI.ITEMNUM = SF.ITEMNUM
			WHERE SI.ITEMNUM=#{itemNum}
		ORDER BY SI.ITEMNUM DESC, SF.PHOTONUM ASC
	</select>
	
	<update id="setItemUpdate">
		UPDATE SELLITEM SET 
		ITEMNAME=#{itemName}, ITEMPRICE=#{itemPrice}, ITEMCONTENTS=#{itemContents} WHERE ITEMNUM=#{itemNum} 
	</update>
	
	<select id="getItems" parameterType="Map" resultType="SellItemDTO">
		SELECT SI.* FROM (SELECT * FROM SELLITEM WHERE ITEMCATG = #{kind}) SI WHERE ITEMNAME LIKE '%'||#{search}||'%' 
		ORDER BY SI.ITEMNUM DESC    
	</select>
	
	<delete id="setItemDelete" parameterType="SellItemDTO">
		DELETE SELLITEM WHERE ITEMNUM = #{itemNum}
	</delete>
	
	<delete id="setFileDelete" parameterType="Long">
		DELETE SELLFILE WHERE ITEMNUM = #{itemNum}
	</delete>
	
	<delete id="setUpdateFileDelete" parameterType="Long">
		DELETE SELLFILE WHERE PHOTONUM = #{photoNum}
	</delete>
	
	<delete id="setCategoryDelete" parameterType="Long">
		DELETE SELLCATEGORY WHERE ITEMNUM = #{itemNum}
	</delete>
	
	<select id="getMap" resultType="SellItemDTO">
		SELECT ITEMADDRESS FROM SELLITEM WHERE ITEMNUM = 61
	</select>
	
	<resultMap type="SellItemDTO" id="getItemResult">
		<id column="ITEMNUM" property="itemNum"/>
		<result column="USERID" property="userId"/>
		<result column="ITEMNAME" property="itemName"/>
		<result column="ITEMPRICE" property="itemPrice"/>
		<result column="ITEMCONTENTS" property="itemContents"/>
		<result column="ITEMSELLDATE" property="itemSellDate"/>
		<result column="ITEMZIPCODE" property="itemZipCode"/>
		<result column="ITEMADDRESS" property="itemAddress"/>
		<result column="ITEMDEADDRESS" property="itemDeAddress"/>
		<result column="ITEMCATG" property="itemCatg"/>
			<collection property="fileDTOs" javaType="List" ofType="sellFileDTO">
				<id column="PHOTONUM" property="photoNum"></id>
				<result column="FILENAME" property="fileName"/>
				<result column="ORINAME" property="oriName"/>
			</collection>
	</resultMap>
</mapper>