<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.home.sell.SellItemDAO">
	<insert id="setItemAdd">
		INSERT INTO SELLITEM VALUES 
		(2, #{userId}, #{itemName}, #{itemPrice}, #{itemContents}, SYSDATE, #{itemStartDate}, #{itemEndDate}, #{itemLatitude}, #{itemLongtitude}, #{itemCount}, #{itemCatg})
	</insert>
</mapper>