<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.pet.home.board.sharing.sharingDAO">
	<sql id="search">
		(SELECT S.*, ROWNUM R FROM
		(SELECT SR.*, SF.FILENAME, SF.ORINAME, SF.FILENUM FROM SHARING SR
		LEFT JOIN SHARINGFILE SF ON SR.NUM = SF.NUM
		WHERE 
			<choose>
				<when test="kind=='title'">SR.TITLE</when>
				<when test="kind=='writer'">SR.WRITER</when>
				<otherwise>SR.CONTENTS</otherwise>
			</choose>
			LIKE '%'||#{search}||'%'
			ORDER BY SR.NUM DESC)S)
	</sql>
	
	<select id="getList" parameterType="Pager" resultMap="getDetailResult">
		SELECT * FROM
		<include refid="search"></include>
		WHERE R BETWEEN #{startRow} and #{lastRow}
	</select>
	
	<select id="getCount" parameterType="Pager" resultType="Long">
		SELECT COUNT(ROWNUM) FROM 
		<include refid="search"></include>
	</select>
	
	<insert id="setAdd" parameterType="BoardDTO">
		<selectKey keyProperty="num" order="BEFORE" resultType="Long">
			SELECT SHARING_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO SHARING(NUM, TITLE, WRITER, REGDATE, HIT, CONTENTS)
		VALUES(#{num}, #{title}, #{writer}, SYSDATE, 0, #{contents})
	</insert>
	
	
	<insert id="setFileAdd" parameterType="BoardFileDTO">
		INSERT INTO SHARINGFILE(FILENUM, NUM, FILENAME, ORINAME)
		VALUES(SHARING_FILE_SEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
	</insert>
	
	<select id="getDetail" parameterType="BoardDTO" resultMap="getDetailResult">
		SELECT S.*, SF.*
		FROM SHARING S 
		LEFT JOIN SHARINGFILE SF
		ON S.NUM = SF.NUM
		WHERE S.NUM = #{num}
	</select>
	
	<resultMap type="SharingDTO" id="getDetailResult">
		<id column="NUM" property="num"></id>
		<result column="TITLE" property="title"/>
		<result column="CONTENTS" property="contents"/>
		<result column="WRITER" property="writer"/>
		<result column="REGDATE" property="regDate"/>
		<result column="HIT" property="hit"/>
		
		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</collection>
	</resultMap>
	
	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE SHARING SET TITLE = #{title}, CONTENTS = #{contents}
		WHERE NUM = #{num}
	</update>
	
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE SHARING WHERE NUM = #{num}
	</delete>
	
	<select id="getFileDetail" parameterType="BoardFileDTO" resultType="BoardFileDTO">
		SELECT * FROM SHARINGFILE WHERE FILENUM = #{fileNum}
	</select>
	
	<delete id="setFileDelete">
		DELETE SHARINGFILE WHERE FILENUM = #{fileNum}
	</delete>
	
	<!-- 같이해요 게시판 댓글 -->
	<select id="getCommentList" parameterType="BoardCommentPager" resultType="ShCommentDTO">
		(SELECT * FROM
		(SELECT ROWNUM R, SC.* FROM
			(SELECT * FROM SHCOMMENT
			WHERE NUM = #{num}
			ORDER BY COMMENTNUM DESC)SC)
			WHERE R BETWEEN #{startRow} AND #{lastRow})
	</select>

	
	<insert id="setCommentAdd" parameterType="ShCommentDTO">
		INSERT INTO SHCOMMENT(COMMENTNUM, NUM, WRITER, CONTENTS, REGDATE)
		VALUES(SHCOMMENT_SEQ.NEXTVAL,#{num},#{writer},#{contents},SYSDATE)
	</insert>
	
	<select id="getCommentListTotalCount" parameterType="BoardCommentPager" resultType="Long">
		SELECT COUNT(COMMENTNUM) FROM SHCOMMENT WHERE NUM = #{num}
	</select>
	
	<delete id="setCommentDelete" parameterType="ShCommentDTO">
		DELETE SHCOMMENT WHERE COMMENTNUM = #{commentNum}
	</delete>
	
	<update id="setCommentUpdate" parameterType="ShCommentDTO">
		UPDATE SHCOMMENT SET CONTENTS = #{contents} WHERE COMMENTNUM = #{commentNum}
	</update>
	
</mapper>