<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    <mapper namespace="com.pet.home.sell.ShopCartDAO">
		    	<insert id="setShopCartAdd" parameterType="ShopCartDTO">
		    		INSERT INTO SHOPCART VALUES(SELLITEM_SEQ.NEXTVAL,#{itemNum},#{userId},#{totalPrice},1,'1',#{revStartDay},#{revEndDay},#{adultsNum},#{dogNum})
		    	</insert>
		    	
		  		
		  		<delete id="setShopCartDelete" parameterType="ShopCartDTO">
		  			DELETE SHOPCART WHERE ITEMNUM=#{itemNum} AND USERID=#{userId}
		  		</delete>
		  		
		  		<update id="setShopCartUpdate" parameterType="ShopCartDTO">
		  			UPDATE SHOPCART SET TOTALCOUNT=#{totalCount} WHERE ITEMNUM=#{itemNum}
		  		</update>
		  		
		  		<select id="getShopCartCheck" parameterType="ShopCartDTO" resultType="String">
		  			SELECT SHOPSTATUS FROM SHOPCART WHERE ITEMNUM=#{itemNum} AND USERID=#{userId}
		  		</select>
		  		
		  		<select id="getCartOne" parameterType="ShopCartDTO" resultType="ShopCartDTO">
		  			SELECT * FROM SHOPCART
  					 WHERE USERID = #{userId} AND ITEMNUM = #{itemNum}
		  		</select>
		  		
		  		<delete id="setAllCartDelete" parameterType="ShopCartDTO">
		  			DELETE SHOPCART WHERE USERID=#{userId}
		  		</delete>
		    
		    </mapper>